<!DOCTYPE html>
<html>
<head>
<title>Agora Web Sample</title>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='AgoraRTCSDK-2.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 800px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
.fill img {

width: 350px;
height: 500px;

}
  </style>
  </head>

<body>
<div id="div_device" class="panel panel-default">

<label for="audioSource">Audio source: </label><select id="audioSource"></select>

<label for="videoSource">Video source: </label><select id="videoSource"></select>


    <!--style>
    .video__box{width:910px; margin:0 auto; overflow:hidden;}
    .video__main{ width:810px; height:607px;float:left }
    .video__list{ width:200px; height:607px; float:left;}
    .video__item{ width:200px; height:174px; hei background:url(/img/icon_live.png) center center no-repeat; }
    </style>
    <div class="video__main">
    </div>
    <div class="video__list">
        <div class="video__item"></div>
        <div id="video" class="video__item">
            <div id="agora_local"></div>
        </div>
    </div-->
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Card Game</h4>
      <div>
      <ul class="nav nav-pills nav-stacked">
        <li align="center" class="active"><a>Player 1</a></li>
        <div>
        <div id="video" style="">
    <div id="agora_local" style="width:100%;height:200px;display:inline-block;"></div>
</div>

        </div>
        <li align="center"><a>Player 2</a></li>
        <div>

        <div id="video1" style="">
        </div>
        </div>
        <li align="center"><a>Player 3</a></li>
        <div align="center">
        <img src="https://www.w3schools.com/images/colorpicker.gif">
        </div>
      </ul>
      </div>
      <br><br>
      <div style="bottom:0;position: absolute; width:90%;padding-bottom:10px;padding-left:10px;" align="center">
        <div align="center">
        <button type="button" onclick='newCard()' class="btn btn-primary btn-lg btn-block">Deal Card</button>
        </div>
        <br>
         <div align="center">
        <button type="button" onclick="resetCards()" class="btn btn-danger btn-lg btn-block">Reset Game</button>
        </div>
    </div>
    </div>

    <div class="col-sm-9 fill">
      <div align="center" style="padding-top:150px;vertical-align:middle; text-align:center;">
        <img id='cardVal' src="/card">
      </div>
     </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>



<script language="javascript">

if(!AgoraRTC.checkSystemRequirements()) {
  alert("Your browser does not support WebRTC!");
}

/* select Log type */
// AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.NONE);
// AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.ERROR);
// AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.WARNING);
// AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.INFO);
// AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.DEBUG);

/* simulated data to proof setLogLevel() */
AgoraRTC.Logger.error('this is error');
AgoraRTC.Logger.warning('this is warning');
AgoraRTC.Logger.info('this is info');
AgoraRTC.Logger.debug('this is debug');

var client, localStream, camera, microphone;

var audioSelect = document.querySelector('select#audioSource');
var videoSelect = document.querySelector('select#videoSource');
window.latest = 0;
function join() {
  var channel_key = null;

  console.log("Init AgoraRTC client with App ID: " + "{{ API_KEY }}");
  client = AgoraRTC.createClient({mode: 'interop'});
  window.client = client;
  client.init("{{ API_KEY }}", function () {
    console.log("AgoraRTC client initialized");
    client.join(channel_key, "1000", null, function(uid) {
      console.log("User " + uid + " join channel successfully");

      if (true) {
        camera = videoSource.value;
        microphone = audioSource.value;
        localStream = AgoraRTC.createStream({streamID: uid, audio: true, cameraId: camera, microphoneId: microphone, video: true, screen: false});
        //localStream = AgoraRTC.createStream({streamID: uid, audio: false, cameraId: camera, microphoneId: microphone, video: false, screen: true, extensionId: 'minllpmhdgpndnkomcoccfekfegnlikg'});
        if (true) {
          localStream.setVideoProfile('720p_3');

        }

        // The user has granted access to the camera and mic.
        localStream.on("accessAllowed", function() {
          console.log("accessAllowed");
        });

        // The user has denied access to the camera and mic.
        localStream.on("accessDenied", function() {
          console.log("accessDenied");
        });

        localStream.init(function() {
          console.log("getUserMedia successfully");
          localStream.play('agora_local');

          client.publish(localStream, function (err) {
            console.log("Publish local stream error: " + err);
          });

          client.on('stream-published', function (evt) {
            console.log("Publish local stream successfully");
          });
        }, function (err) {
          console.log("getUserMedia failed", err);
        });
      }
    }, function(err) {
      console.log("Join channel failed", err);
    });
  }, function (err) {
    console.log("AgoraRTC client init failed", err);
  });

  channelKey = "";
  client.on('error', function(err) {
    console.log("Got error msg:", err.reason);
    if (err.reason === 'DYNAMIC_KEY_TIMEOUT') {
      client.renewChannelKey(channelKey, function(){
        console.log("Renew channel key successfully");
      }, function(err){
        console.log("Renew channel key failed: ", err);
      });
    }
  });


  client.on('stream-added', function (evt) {
    var stream = evt.stream;
    console.log("New stream added: " + stream.getId());
    console.log("Subscribe ", stream);
    client.subscribe(stream, function (err) {
      console.log("Subscribe stream failed", err);
    });
  });

  client.on('stream-subscribed', function (evt) {
    var stream = evt.stream;
    console.log("Subscribe remote stream successfully: " + stream.getId());
    if ($('div#video1 #agora_remote'+stream.getId()).length === 0) {
      $('div#video1').append('<div id="agora_remote'+stream.getId()+'" style="width:100%;height:200px;display:inline-block;"></div>');
    }
    stream.play('agora_remote' + stream.getId());
  });

  client.on('stream-removed', function (evt) {
    var stream = evt.stream;
    stream.stop();
    $('#agora_remote' + stream.getId()).remove();
    console.log("Remote stream is removed " + stream.getId());
  });

  client.on('peer-leave', function (evt) {
    var stream = evt.stream;
    if (stream) {
      stream.stop();
      $('#agora_remote' + stream.getId()).remove();
      console.log(evt.uid + " leaved from this channel");
    }
  });
}

function getBatteryLevel(){
  client.getLocalAudioStats((x)=>console.log("Ayyo", x));
}


function leave() {
  getBatteryLevel();
}

function publish() {
  document.getElementById("publish").disabled = true;
  document.getElementById("unpublish").disabled = false;
  client.publish(localStream, function (err) {
    console.log("Publish local stream error: " + err);
  });
}

function unpublish() {
  document.getElementById("publish").disabled = false;
  document.getElementById("unpublish").disabled = true;
  client.unpublish(localStream, function (err) {
    console.log("Unpublish local stream failed" + err);
  });
}

function getDevices() {
  AgoraRTC.getDevices(function (devices) {
    for (var i = 0; i !== devices.length; ++i) {
      var device = devices[i];
      var option = document.createElement('option');
      option.value = device.deviceId;
      if (device.kind === 'audioinput') {
        option.text = device.label || 'microphone ' + (audioSelect.length + 1);
        audioSelect.appendChild(option);
      } else if (device.kind === 'videoinput') {
        option.text = device.label || 'camera ' + (videoSelect.length + 1);
        videoSelect.appendChild(option);
      } else {
        console.log('Some other kind of source/device: ', device);
      }
    }
  });
}

function getStats(){

    window.client.getSystemStats((x)=>console.log("getSystemStats",x));
    client.getRemoteAudioStats((x)=>console.log("getRemoteAudioStats",x));
    client.getLocalAudioStats((x)=>console.log("getLocalAudioStats",x));
    client.getRemoteVideoStats((x)=>console.log("getRemoteVideoStats",x));
    client.getLocalVideoStats((x)=>console.log("getLocalVideoStats",x));
    client.getTransportStats((x)=>console.log("getTransportStats",x));
}

function newCard(){
  document.getElementById("cardVal").src="/newCard?cache=" + Math.floor(Math.random()*1000000);
}

function httpGet(theUrl)
// The network request grabs the json containing mp3 structure
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}


function resetCards(){
  httpGet("/reset");
  newCard();
}

function getImage(){
  var url = "/recent?cache=" + Math.floor(Math.random()*1000000);
    console.log(url);
    a = httpGet(url);

    obVal = JSON.parse(a);
    console.log(obVal);
    if (obVal.time > window.latest){
      window.latest = obVal.time;
      console.log("Changed image due to time")
        var pos = 5,
        neg = 5,
        includeZero = true,
        result;

    do result = Math.ceil(Math.random() * (pos + neg)) - neg;
    while (includeZero === false && result === 0);
      document.getElementById("cardVal").setAttribute("style", "transform: rotate(" + result + "deg);");

      document.getElementById("cardVal").src=obVal.file;
    }
}

setInterval(function() {getImage();}, 200);

//audioSelect.onchange = getDevices;
//videoSelect.onchange = getDevices;
getDevices();
join();
</script>
</body>
</html>
